@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header */
.menu-content{
  background-color: #000;
}
.navbar{
  padding: 0;
}
.navbar-light .navbar-nav .nav-link{
  color: #ccc;
  border-bottom: 7px solid transparent;
  padding-bottom: 21px;
}
.navbar-light .navbar-nav .nav-link::after{
  display: none;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
  color: #fff;
  border-bottom: 7px solid rgb(184, 19, 13)
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
  color: #fff;
}
.menu-content .navbar-nav{
  margin-left: 12rem;
  padding-top: 20px;
}
.menu-content .navbar-nav .nav-item{
  padding: 0 0.5rem;
}
.dropdown-menu{
  background-color: #000;
  border-top: 2px solid #ccc;
  border-radius: 0;
}
.dropdown-menu.show{
  top: 4.625em;
}
.dropdown-menu.show .triangle{ 
  position: absolute;
  width: 20px;
  height: 10px;
  border-bottom: solid 12px #ffffff;
  border-left: solid 12px transparent;
  border-right: solid 12px transparent;
  top: -14px;
  left: 20px;
}
.dropdown-item:hover, .dropdown-item:focus{
  color: #fff;
  background-color: transparent
}
.navbar-light .navbar-nav .dropdown-item{
  padding: 0.2rem 0.8rem;
}
.navbar-light .navbar-nav .dropdown-item .nav-link{
  padding: 0;
  border-bottom: 0;
}


/* Header Input */
#menuinput-wrap {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 14px;
  padding-top: 10px;
  margin-right: 10em;
}
#menuinput-wrap .search_wrap{
  display: inline;
}
#menuinput-wrap input[type="text"] {
  height: 50px;
  font-size: 20px;
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  padding: 3px;
  padding-right: 60px;
  /* margin-right: 32px; */
  width: 0px;
  position: absolute;
  top: 0;
  right: 44px;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

#menuinput-wrap input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

#menuinput-wrap input[type="text"]:focus {
  width: 16em;
  z-index: 1;
  border: 1px solid #ccc;
  cursor: text;
}
#menuinput-wrap input:-internal-autofill-selected {
  background: transparent !important;
  color: #fff !important;
}
/* #menuinput-wrap input[type="submit"] {
  height: 50px;
  width: 42px;
  display: inline-block;
  color:red;
  float: right;
  background: transparent;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 44px;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
} */

#menuinput-wrap input[type="submit"]:hover {
  opacity: 0.8;
}
#menuinput-wrap .fa-search, #menuinput-wrap .fa-bell{
  font-size: 2em;
  padding-right: 10px;
}
#menuinput-wrap .fa-bell{
  margin-left: 16px;
  cursor: pointer;
}

/* MovieSlider */
.movie-section{
  margin: 0 6px;
}
.movie-section .movielink img{
  width: 100%;
  height: 100%
}
/* Page Header */
.pg-collections-header {
  margin: 36px 0;
}
.pg-collections-header-name{
  font-size: 30px;
  line-height: 34px;
  font-weight: 400;
  color: #fff;
  font-weight: bold;
}

/* Home Page */

.mv-content-header{
  background-color: #000;
  height: 70px;  
  padding: 0 45px;
}
.collections-container{
  margin: 10px 27px;
}
.search-movie-section{
  display: none;
}
.collections-container[data-loaded='true']{
  display: block;
}
.collections-row-name {
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
  color: #fff;
}
.collections-row {
  margin-top: 40px;
}

.slick-slider{
  margin: 16px 0;
}

/* MovieDetail Page */
.mdtitle-section{
  min-height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
#section-hero {
  padding: 0px 4vw 30px;
  min-height: 52vh;
  max-width: 66%;
  margin-left: auto;
}
.left-gradient-overlay{
  background-image: linear-gradient(to right,#181818 0,rgba(24,24,24,0) 100%);
  position: absolute;
  top: 0;
  right: 0;
  left: 34%;
  height: 52vh;
  z-index: 2;
  margin-top: 80px;
}
.hero-wrapper{
  z-index: 5;
  position: absolute;
  left: 0;
  padding-left: 16px;
  padding-top: 5rem;
  margin-left: 12rem;
}
.hero-wrapper .title-logo{
  width: 500px;
  height: 112px;
  margin-bottom: 20px;
}
.hero-wrapper .movie-link-buttons .btn{
  border-radius: 0;
  margin-bottom: 10px;
  padding-right: 3rem;
  padding-left: 1rem;
  text-align: left;
}
.hero-wrapper .hero-header{
  margin-bottom: 20px;
}
.hero-wrapper .date_duration{
  display: inline-block;
  vertical-align: middle;
}
.mdsmilar-section{
  margin-top: 45px;
  padding: 0 50px;
}
.mdtitle-wrapper .release-date{
  font-size: 22px;
  padding-left: 10px;
}
.mdtitle-wrapper .duration{
  padding-left: 20px;
}

/* Films Page */
.films .movie-section{
  margin: 0;
}